
  <div class="container image-container my-2">
    <%= image_tag 'main-image.jpg', class: 'img-fluid mx-auto w-100', alt: 'shop image' %>

    <div class="image-caption">
      <h1>متجر ألبسة</h1>
      <p>أفضل أنوع الألبسة المحلية والمستوردة</p>
    </div>
  </div>

  <div class="container my-3 text-center">
    <div class="btn-group my-1 mx-3">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        الفئة العمرية
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">ولادي</a></li>
        <li><a class="dropdown-item" href="#">رجالي</a></li>
        <li><a class="dropdown-item" href="#">نسائي</a></li>
      </ul>
    </div>
    <div class="btn-group my-1  mx-3">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        المقاس
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">small</a></li>
        <li><a class="dropdown-item" href="#">medium</a></li>
        <li><a class="dropdown-item" href="#">large</a></li>
      </ul>
    </div>
    <div class="btn-group my-1  mx-3">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        السعر
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">أقل من 50$</a></li>
        <li><a class="dropdown-item" href="#">أقل من 300$</a></li>
        <li><a class="dropdown-item" href="#">300$ وأكثر</a></li>
      </ul>
    </div>
  </div>


  <div class="container my-3">
    <div class="row justify-content-center">
      <% @products.each do |product| %>
        <div class="card m-2 p-0">
<%= image_tag("products/#{product.image_url}", class: 'card-img-top') %>

          <div class="card-body">
            <h3 class="card-title font-bold text-xl"><%= product.name%></h3>
            <p class="card-text px-4 mb-1"><%=product.details%></p>            
            <div class="mb-3">
              <small class="mx-3 fw-bold fs-6">سعر <%=product.price%>$</small>
              <small class="mx-3 fw-bold fs-6">مقاس <%=product.size%></small>
            </div>
            <a href="#" class="btn btn-primary w-50">شراء</a>
          </div>
        </div>
        <%end %>
    </div>
  </div>


  <footer class="bg-primary text-light text-center mt-auto">
    <div class="text-center p-3">
      © 2023 <a class="text-light" href="https://academy.hsoub.com/">حسوب</a>. جميع الحقوق محفوظة.
    </div>
  </footer>