
  <div class="container image-container my-2">
    <%= image_tag 'main-image.jpg', class: 'img-fluid mx-auto w-100', alt: 'shop image' %>

    <div class="image-caption">
      <h1>متجر ألبسة</h1>
      <p>أفضل أنوع الألبسة المحلية والمستوردة</p>
    </div>
  </div>

  <div class="container my-3 text-center">
    <form action="/#" method="get" class="d-flex">
      <select class="form-select d-inline-black my-1 mx-3 " name="category">
        <option selected disabled>صنف</option>
        <% @categories.each  do |category|%>
          <option option value="<%= category.id %>"><%= category.title %></option>
        <% end %>      
      </select>
      <select class="form-select d-inline-black my-1 mx-3 " name="size">
        <option selected disabled>المقاس</option>
        <option value="1">صغير</option> 
        <option value="2">وسط</option> 
        <option value="3">كبير</option> 
      </select>
      <select class="form-select d-inline-black my-1 mx-3 " name="price">
        <option selected disabled>سعر</option>
        <option value="1">اقل من 50</option> 
        <option value="2">اقل من 300</option> 
        <option value="3">اكثر من 300</option> 
      </select>
      <input class="btn btn-primary" type="submit" value="تصفيه">
    </form>
    
  </div>

  <div class="container my-3">
    <div class="row justify-content-center">
      <% @products.each do |product| %>
      <div class="card m-2 p-0 home-card" style="">
          <%= image_tag(product.image_url, class:"card-img-top" )%>

          <div class="card-body">
            <h3 class="card-title font-bold text-xl"><%= product.name %></h3>
            <p class="card-text px-4 mb-1"><%= product.details %></p>
            <div class="mb-3">
              <small class="mx-3 fw-bold fs-6">سعر:<%= product.price %>$</small>
              <small class="mx-3 fw-bold fs-6">مقاس:<%= product.size %></small>
            </div>
            
            <a class="btn btn-primary" href="/products/<%= product.id %>">عرض التفاصيل</a>
            <%= button_to "اضافه الى السله", cart_add_to_cart_path, 
                  class: "btn btn-primary", 
                  form_class: "d-inline-block", 
                  method: :post, 
                  params: { product_id: product.id }, 
                  onclick: "alert('تم الاضافه الى السله');" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>




  <footer class="bg-primary text-light text-center mt-auto">
    <div class="text-center p-3">
      © 2023 <a class="text-light" href="https://academy.hsoub.com/">حسوب</a>. جميع الحقوق محفوظة.
    </div>
  </footer>